<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-7">
  <div class="row">
    <h2>Deploy</h2>
    <form class="form-inline" ng-submit="runDeploy(latestDeploys)">
      <div class="form-group col-xs-8">
        <label for="web-release">Web Release:</label>
        <select id="web-release" name="web-release" ng-model="latestDeploy.webRelease" ng-change="updateCrrentStories(latestDeploy.webRelease)">
          <option value="">Choose one</option>
          <option ng-repeat="release in releases">{{release.name}}</option>
        </select>
      </div>
      <div class="form-group col-xs-4">
        <label for="web-release">&nbsp;</label>
        <input type="submit" value="{{latestDeploy.buttonText || 'Deploy'}}">
      </div>
    </form>
  </div>
  <div class="row latest-deploys">
    <h2>Latest Deploys</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Web Release</th>
        <th>Status</th>
        <th>Link</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="latestDeploy in latestDeploys | orderBy:'-date' | limitTo:5" ng-class="{active:latestDeploy.isNew}">
        <td>{{latestDeploy.date | date}}</td>
        <td>{{latestDeploy.webRelease}}</td>
        <td>{{latestDeploy.status}}</td>
        <td><a ng-href="{{latestDeploy.logFile}}">Log File</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-5">
  <h2>Pivotal Stories</h2>
  <ul ng-show="currentStories.length">
    <li ng-repeat="story in currentStories"><a ng-href="{{story.url}}" target="_blank">{{story.name}}</a></li>
  </ul>
	<span ng-hide="currentStories.length">
		Select a web release in order to display pivotal tracked stories
	</span>
</div>
